@using EscuelaApp.Dominio.DTO
@model CourseDTO

<tr>
    <td>@Html.DisplayFor(model => model.Title)</td>   <!-- Display Title -->
    <td>@Html.DisplayFor(model => model.Credits)</td>  <!-- Display Credits -->
    <td>@Html.DisplayFor(model => model.NombreDepartamento)</td> <!-- Display Department Name -->
    <td>
        <a asp-action="Edit" asp-route-id="@Model.CourseID">Edit</a> |
        <a asp-action="Details" asp-route-id="@Model.CourseID">Details</a> |
        <a asp-action="Delete" asp-route-id="@Model.CourseID">Delete</a>
    </td>
</tr>
